/* .react-calendar-heatmap rect.color-empty {
  fill: #ebedf0 !important;
} */

/* .react-calendar-heatmap rect.color-scale-2 {
  fill: #7bc96f !important;
}

.react-calendar-heatmap rect.color-scale-4 {
  fill: #23963a !important;
}

.react-calendar-heatmap rect.color-scale-6 {
  fill: #196127 !important;
} */

/* .react-calendar-heatmap .color-github-0 {
  fill: #eeeeee;
}
.react-calendar-heatmap .color-github-1 {
  fill: #acfa98;
}
.react-calendar-heatmap .color-github-2 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-github-3 {
  fill: #44a340;
}
.react-calendar-heatmap .color-github-4 {
  fill: #1e6823;
} */

